<a style='color: #3f9cd6;' href='/'>Home</a>
<span> | </span>
<a style='color: #3f9cd6;' href='/about'>About</a>
<span> | </span>
<a style='color: #6a9955;' href='/register'>Register</a>
<span> | </span>
<a style='color: #6a9955;' href='/login'>Login</a>
<span> | </span>
<a style='color: #6a9955;' href='/logout'>Logout</a>
<span> | </span>
<a style='color: #6a9955;' href='/listusers'>List_Users</a>
<span> | </span>
<a style='color: #6a9955;' href='/deleteuser'>Delete_User</a>
<span> | </span>
<a style='color: #ce723b;' href='/addfood'>Add_Food</a>
<span> | </span>
<a style='color: #ce723b;' href='/updatefood'>Update_Food</a>
<span> | </span>
<a style='color: #ce723b;' href='/listfoods'>List_Foods</a>
<span> | </span>
<a style='color: #ce723b;' href='/searchfoods'>Search_Foods</a>
<span> | </span>
<a style='color: #b41500;' href='/api'>API</a>
<span> | </span>
<a style='color: #b41500;' href='/clearusers'>Clear_Users (admin)</a>
<span> | </span>
<a style='color: #b41500;' href='/clearfoods'>Clear_Foods (admin)</a>