<!DOCTYPE html>
<html lang="en">

<head>
	<title>Add_Food</title>
	<link rel="stylesheet" href="css\style.css">
	<style>
		h1 {
			color: #ce723b;
		}
	</style>
</head>

<body>
    <%- include('./partials/navBar.ejs') %>

	<form method="POST" action="/foodadded" id="mainForm">
		<h1>Add_Food</h1>
		<p>Fill in the following form to add a food to the database:</p>

		<label for="name"> Food Name: </label>
		<input id="name" type="text" name="name" value="foodName" />
		<br/>
		<label for="price"> Food Price: </label>
		<input id="price" type="text" name="price" value="0" />
		<br/>
		<br/>
		<label for="typicalValues"> Typical Values Per: </label>
		<input id="typicalValues" type="text" name="typicalValues" value="0" />
		<br/>

		<label for="typicalValuesUnit"> Unit of Typical Values: </label>
		<select form="mainForm" id="typicalValuesUnit" form="typicalValuesUnit" name="typicalValuesUnit">
			<option value="grams">Gram</option>
			<option value="kilogram">Kilogram</option>
			<option value="mililitre">Mililitre</option>
			<option value="litre">Litre</option>
			<option value="teaspoon">Teaspoon</option>
			<option value="tablespoon">Tablespoon</option>
			<option value="cup">Cup</option>
		</select>
		
		<br/>
		<label for="calories"> Calories: </label>
		<input id="calories" type="text" name="calories" value="0" />
		<br/>
		<label for="carbohydrates"> Carbohydrates: </label>
		<input id="carbohydrates" type="text" name="carbohydrates" value="0" />
		<br/>
		<label for="fat"> Fat: </label>
		<input id="fat" type="text" name="fat" value="0" />
		<br/>
		<label for="protein"> Protein: </label>
		<input id="protein" type="text" name="protein" value="0" />
		<br/>
		<label for="salt"> Salt: </label>
		<input id="salt" type="text" name="salt" value="0" />
		<br/>
		<label for="sugar"> Sugar: </label>
		<input id="sugar" type="text" name="sugar" value="0" />
		<br/>
		<br/>

		<!-- the user account that added the food -->
		<label for="author"> Author: </label>
		<input id="author" type="text" readonly="true" name="author" value="<%= username %>" />
		<br/>

		<input type="submit" value="OK" />
	</form>
</body>

</html>