<!doctype html>
<html lang="en">

<head>
	<title>Are you sure?</title>
	<link rel="stylesheet" href="css\style.css">
	<style>
		h1 {
			color: #6a9955;
		}
	</style>
</head>

<body>
    <%- include('./partials/navBar.ejs') %>

	<!-- ask the user if they really want to delete a food item -->
	
	<h1>Confirmation</h1>
	<p>Are you sure you want to delete <%=name%>?</p>

	<form method="POST" action="/fooddeleted">
		<input id="_id"  name="_id"  type="hidden" value=<%=_id%>>
		<input id="name"  name="name"  type="hidden" value=<%=name%>>
		<input id="yes" name="yes" type="submit" value="Yes">
		<input id="no"  name="no"  type="submit" value="No">
	</form>

</body>

</html>