<!doctype html>
<html lang="en">

<head>
	<title>User_List</title>
	<link rel="stylesheet" href="css\style.css">
	<style>
		h1 {
			color: #6a9955;
		}
	</style>
</head>

<body>
	<%- include('./partials/navBar.ejs') %>

	<h1>User_List</h1>
	<p>All existing users are listed below:</p>
	
	<% if (users.length <= 0) { %>
		<p> No Results </p>
	<% } else { %>
		<table style="width: auto">
			<tr>			
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>Admin</th>
			</tr>
			<% users.forEach(function(user){ %>
				<tr>
					<form method="POST", action="/listfoods">
						<td><%= user.first %></td>
						<td><%= user.last %></td>
						<td><%= user.username %></td>
						<td><%= user.email %></td>
						<td><%= user.admin %></td>
					</form>
				</tr>
			<% }) %>
		</table>
	<% } %>
</body>

</html>